@charset "utf-8";
/* CSS Document */

body { font-family:微軟正黑體; }

nav#mainn{
	position: fixed;
	z-index: 1;
	display:block;
	height: 50px;
	width: 100%;
background-color: #eee;
margin: 0 auto;
box-shadow: 3px 2px 5px 0px rgba(212,205,212,1);
opacity: 0.9;
}

nav#mainn ul{
	position: relative;
	width: 800px;
	height: 50px;
	margin: 0 auto;
}

nav ul li{
	float:left;
	position:relative;
	font-family: calibri;
	
}
nav ul li a{
	display: block;
	width:200px;
	height:50px;
	line-height:50px;
	text-align: center;
	color:#c98f8f;
	font-size: 22px;
	
}

nav ul li a:hover{
	background-color: #eee8e8;
	color:#c3b1b1;
}

/*main*/
.welcome{
	text-align: center;
	width: 100%;
	height: 768px;
	font-family: calibri;

}

.welcome img#aa{
	display:block;
	position: relative;
	top:140px;
	height: 300px; 
	width: 1200px;
	padding-top: 15px;
	margin: 0 auto;
	padding: 0 0 20px 0;
}
.welcome p#daa{
	display:block;
	position: relative;
	top:150px;
	font-size: 50px;
	line-height:60px;
	color:#BC8F8F;
	text-shadow:1px 2px #eee;
	font-family: 'Swanky and Moo Moo', cursive;
	
}

.welcome h1{
	display:block;
	position: relative;
	top:130px;
	font-size: 30px;
	line-height: 28px;
	color:#9a7b70;
	text-shadow:2px 2px #eee;
	padding: 50px;
	font-family: 'Swanky and Moo Moo', cursive;
}

.welcome p{
	font-size: 14px;
	color:#b4a192;
}
/*自介*/
#aboutme {
    position: relative;
    width: 100%;
    height: 560px;
    background-color: #FCFCFC;

}

#aboutme img{
	display: block;
	position: relative;
	top: 100px;
    left: 50px;
}

#aboutme h1{
	position: absolute;
	top: 80px;
    left: 400px;
	font-size: 50px;
	line-height: 60px;
	color:#c98f8f;
	font-family: 'Signika', sans-serif;
	
}
#aboutme p#namee{
	position: absolute;
	top: 140px;
    left: 400px;
	font-size: 22px;
	line-height: 60px;
	color:#c98f8f;
	text-align:left;
	
}
#aboutme h2{
	display: block;
    position: absolute;
    top: 240px;
    left: 400px;
	font-size: 40px;
	line-height: 60px;
	color:#9a7b70;
	font-family: 'Signika', sans-serif;

}
#aboutme hr{
	display: block;
    position: absolute;
    top: 210px;
    left: 400px;
}

#aboutme p#edu {
font-size: 25px;
	
	color:#AAAAAA;
	font-family: calibri;
	display: block;
    position: absolute;
    top: 300px;
    left: 400px;
    text-align:left;
    line-height: 30px;
}
#aboutme p#edu a{
 color:#AAAAAA;
}
#aboutme p#edu a:hover{
 color:#EEB4B4;
}
#win{
	position: relative;
    width: 100%;
    height: 560px;
    background-color: #EAEAEA;
}
h3{
	font-size: 40px;
	line-height: 60px;
	color:#9a7b70;
	font-family: 'Signika', sans-serif;
}

#win h3{
	display: block;
    position: absolute;
    top: 100px;
    left:40px;
	font-size: 40px;
	line-height: 60px;
	color:#9a7b70;
	font-family: 'Signika', sans-serif;
	
}
#win p#elsea{
	font-size: 25px;
	color:#AAAAAA;
	font-family: calibri, sans-serif;
	display: inline;
    position:relative;
    top: 160px;
    left:40px;
    text-align:left;
    line-height: 35px;
}
#win img#aaa{
	display: block;
	position: absolute;
	top: 120px;
	left: 840px;
}
#win img#bbb{
	display: block;
	position: absolute;
	top: 340px;
	left: 840px;
	
}
#job{
	background-color: #CDB7B5;
	height: 800px;
	width: 100%
}
#job h3{
	color: #5E2612;
	position: relative;
	top: 100px;
    left:30px;
}
#job p#jobb{
	display: block;
	width: 800px;
	color: #EEE9E9;
	position: relative;
	top: 100px;
    left:30px;
    font-family: calibri, sans-serif;
    font-size: 25px;
}

#job img#jo{
	display: block;
	float: right;
}
#extra{
	background-color: #EDEDED	;
	height: 800px;
	width: 100%
}
#extra h3 {

	position: relative;
	top: 100px;
    left:30px;
}
#extra p#ex {
	position: relative;
	display: block;
	width: 890px;
	top: 100px;
    left:30px;
    font-family: calibri, sans-serif;
    font-size: 25px;
    color: #A8A8A8;
}


#workKk{
background-color: white;
	height: 150px;
	width: 100%;
}

#workKk h3{
display: block;
    position: relative;
    top: 80px;
    left:40px;
	font-size: 40px;
	line-height: 60px;
	color:#9a7b70;
	font-family: 'Signika', sans-serif;

}

#art {
	background-color: white;
	height: 900px;
	width: 100%;
}



footer{
	background-color:#eee;
	text-align:center;
	clear: both;
	padding:80px 0;}


